remove:
{
	"classname" "trigger_gravity"
}
remove:
{
	"classname" "func_button"
}

; stage 1
modify:
{
	match:
	{
		"classname" "info_teleport_destination"
		"targetname" "TpD_spawnT"
	}
	replace:
	{
		"origin" "-8446.32 -10238.8 13600"
	}
}
modify:
{
	match:
	{
		"classname" "info_teleport_destination"
		"targetname" "TpD_spawnCT"
	}
	replace:
	{
		"origin" "-13049.3 -10256 13600"
	}
}

remove:
{
	"classname" "trigger_teleport"
	"target" "/TpD_sniper[1-2]/"
}

modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "-8456 -12792 12500.2"
		"target" "TpD_jail2"
	}
	replace:
	{
		"target" "TpD_spawnT"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "-8456 -7688 12500.2"
		"target" "TpD_jail4"
	}
	replace:
	{
		"target" "TpD_spawnT"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "-13048 -12792 12500.2"
		"target" "TpD_jail1"
	}
	replace:
	{
		"target" "TpD_spawnCT"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "-13048 -7688 12500.2"
		"target" "TpD_jail3"
	}
	replace:
	{
		"target" "TpD_spawnCT"
	}
}

; stage 2
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"target" "/TpD_s2_(1|2|4|5)/"
	}
	replace:
	{
		"target" "TpD_s2_3"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "-2944.01 4608 5794.5"
		"target" "TpD_jail1"
	}
	replace:
	{
		"target" "TpD_s2_3"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "-3456.01 13120 5794.5"
		"target" "TpD_jail1"
	}
	replace:
	{
		"target" "TpD_s2_3"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "-9976.56 8704 5794.5"
		"target" "TpD_jail1"
	}
	replace:
	{
		"target" "TpD_s2_3"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "2773 8641.5 5794.5"
		"target" "TpD_jail2"
	}
	replace:
	{
		"target" "TpD_s2_3"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "12401 8698.5 5794.5"
		"target" "TpD_jail3"
	}
	replace:
	{
		"target" "TpD_s2_3"
	}
}

; stage 3
remove:
{
	"classname" "func_breakable"
	"targetname" "break_box"
}
remove:
{
	"classname" "func_breakable"
	"targetname" "break_box2"
}
remove:
{
	"classname" "func_breakable"
	"targetname" "/glass[1-3]/"
}
remove:
{
	"classname" "point_template"
	"targetname" "/spawn_glass[1-3]/"
}

modify:
{
	match:
	{
		"classname" "info_teleport_destination"
		"targetname" "TpD_s3_1"
	}
	replace:
	{
		"origin" "7616 3712 2048"
	}
}
modify:
{
	match:
	{
		"classname" "info_teleport_destination"
		"targetname" "TpD_s3_2"
	}
	replace:
	{
		"origin" "3648 3712 2048"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"origin" "5808 -5236.5 -5324"
		"target" "TpD_jail5"
	}
	replace:
	{
		"target" "TpD_s3_2"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"parentname" "rot_tele_detail2"
	}
	delete:
	{
		"parentname" "rot_tele_detail2"
	}
}
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"parentname" "rot_tele_detail1"
	}
	delete:
	{
		"parentname" "rot_tele_detail1"
	}
}

;beams

; rope2beam start: 1
add:
{
	"classname" "info_target"
	"origin" "-6468 11893 12877"
	"targetname" "rope2beam_1_start"
}
add:
{
	"classname" "info_target"
	"origin" "-5188 11893 12877"
	"targetname" "rope2beam_1_end"
}
add:
{
	"classname" "env_beam"
	"life" "0"
	"texture" "sprites/laserbeam.vmt"
	"rendercolor" "255 0 255"
	"BoltWidth" "2"
	"LightningStart" "rope2beam_1_start"
	"LightningEnd" "rope2beam_1_end"
	"spawnflags" "1"
}
; rope2beam end: 1
; rope2beam start: 2
add:
{
	"classname" "info_target"
	"origin" "-5188 11893 12877"
	"targetname" "rope2beam_2_start"
}
add:
{
	"classname" "info_target"
	"origin" "-5188 11893 11342"
	"targetname" "rope2beam_2_end"
}
add:
{
	"classname" "env_beam"
	"life" "0"
	"texture" "sprites/laserbeam.vmt"
	"rendercolor" "255 0 255"
	"BoltWidth" "2"
	"LightningStart" "rope2beam_2_start"
	"LightningEnd" "rope2beam_2_end"
	"spawnflags" "1"
}
; rope2beam end: 2
; rope2beam start: 3
add:
{
	"classname" "info_target"
	"origin" "-6528 5518 12670"
	"targetname" "rope2beam_3_start"
}
add:
{
	"classname" "info_target"
	"origin" "-5250 5518 12670"
	"targetname" "rope2beam_3_end"
}
add:
{
	"classname" "env_beam"
	"life" "0"
	"texture" "sprites/laserbeam.vmt"
	"rendercolor" "255 0 255"
	"BoltWidth" "2"
	"LightningStart" "rope2beam_3_start"
	"LightningEnd" "rope2beam_3_end"
	"spawnflags" "1"
}
; rope2beam end: 3
; rope2beam start: 4
add:
{
	"classname" "info_target"
	"origin" "-5250 5518 12670"
	"targetname" "rope2beam_4_start"
}
add:
{
	"classname" "info_target"
	"origin" "-5250 5518 11136"
	"targetname" "rope2beam_4_end"
}
add:
{
	"classname" "env_beam"
	"life" "0"
	"texture" "sprites/laserbeam.vmt"
	"rendercolor" "255 0 255"
	"BoltWidth" "2"
	"LightningStart" "rope2beam_4_start"
	"LightningEnd" "rope2beam_4_end"
	"spawnflags" "1"
}
; rope2beam end: 4

